<html>
<head>
  <%- css('css/main') %>
  <meta charset="utf-8"> 
<body>
  <%- partial('_partial/navigation') %>
  <article id="container">
    <h1><a href="#">Explore South Asian Spirtuality</a></h1>
    <section class="post">
      <%- site.pages.first().content  %>
    </section>
  </article>
</body>
</html>
