<html>
<head>
  <%- css('css/main') %>
</head>
<body>
  <%- partial('_partial/navigation') %>
  <article id="container">
    <h1><a href="#">Explore South Asian Spirtuality</a></h1>
    <section class="post">
      <%- _.find(site.pages.data, function(p){return p.title == "index";})._content %>
    </section>
  </article>
</body>
</html>
