<html>
<head>
  <%- css('css/main') %>
</head>
<body>
  <%- partial('_partial/navigation') %>
  <h1> yea </h1>
  <%- _.find(site.pages.data, function(p){return p.title == "index";})._content %>
</body>
</html>
